:root {
    --primary-color: #e4e1d8;
    --background-secondary: #dfdfdf;
    --secondary-color: #212121;
    --silver: #C0C0C0;

    --night-primary-color: #1b1e27;
    --night-background-secondary: #202020;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

html * {
    padding: 0;
    margin: 0;
}

body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.dark-mode {
    background-color: var(--night-primary-color);
    color: var(--primary-color);
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #808080;
    padding: 1rem;
}

textarea,
input {
    outline: none;
}

.title {
    text-align: center;
    letter-spacing: 0.5rem;
}

.wrong_div {
    letter-spacing: 0.25vw;
    text-align: center;
}

.page_div {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.game_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word_input_label {
    font-size: 2rem;

}

.word_input_field {
    border-radius: 5px;
    height: 25px;
    width: fit-content;
}

.word_input_field:focus {
    border: 3px solid;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-radius: 3px;
    min-height: 20vh;
    min-width: 100vw;
}

.widget>* {
    font-size: 1rem;
}

.game_canvas {
    display: inline;
    min-height: 50vw;
    max-width: 50vw;
}

.game_colum_div * {
    margin-bottom: 20px;
}

@media screen and (min-width: 850px) {

    .options_colum_div {
        flex: 10%;
        text-align: center;
        margin-left: 1%;
        width: 10%;
    }

    .filler_colum_div {
        flex: 10%;
        margin-right: 1%;
        width: 10%;
    }

    .game_colum_div {
        flex: 80%;
        margin-top: 10vh;
    }

    .page_div {
        display: flex;
        flex-direction: row;
    }

    .widget {
        border-radius: 10px;
        min-height: 1vh;
        min-width: 100%;
    }

    .game_canvas {
        max-width: 25vw;
        min-height: 25vw;
    }
}

/* SWITCH BUTTONS */
#night-mode-toggle[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#night-mode-toggle:checked+.toggle {
    background: var(--primary-color);
}

#night-mode-toggle:checked+.toggle:after {
    background: var(--silver);
}


#night-mode-toggle:checked+.toggle:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

/*centering*/